CI_ENVIRONMENT = development

app.name = 'TraceOps ERP'
app.version = '0.1.0-alpha'
app.baseURL = 'http://localhost:8080/'
app.indexPage = ''
app.defaultLocale = 'en'
app.appTimezone = 'America/El_Salvador'

# database.default.hostname = localhost
# database.default.database = traceops
# database.default.username = root
# database.default.password =
# database.default.DBDriver = MySQLi
# database.default.port = 3306

# encryption.key =

logger.threshold = 4
